* {
  margin: 0%;
  padding: 0%;
  font-size: 12px;
  font-family: "Kanit", serif;
  font-weight: 400;
  font-style: normal;
}
.navbar {
  display: block;
}
.airbnb {
  width: 40px;
}
.nav-2 img {
  width: 20px;
  padding: 7px;
}
.nav-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-1-sea {
  border: solid white 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 30px;
  padding: 15px;
  width: 70%;
}
.nav-1-sea input::placeholder {
  color: black;
  padding: 2px;
}
.nav-1-sea input {
  border: none;
  outline: none;
  width: 100%;
}
.navbar {
  padding: 20px;
  text-align: center;
}
.nav-2 {
  border: solid #d0d0d0 1px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
/* catogories*/
.catogories-con1 img {
  width: 28px;
}
.catogories-con1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.catogories-con1 a {
  color: black;
  text-decoration: none;
}
.catogories-con {
  display: flex;
  overflow: scroll;
  white-space: nowrap;
}
.catogories-con1:hover {
  border-bottom: double black 1px;
}
.catogories-con {
  scrollbar-width: none;
  margin-left: 6px;
  gap: 30px;
}
.catogories-con {
  border-bottom: #d0d0d0 1px solid;
}
/*tax*/
.tax-box1 img {
  width: 45px;
}
.tax-box1 {
  display: flex;
  gap: 30px;
  border: solid #d0d0d0 1px;
  border-radius: 10px;
  padding: 1px;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  margin-top: 15px;
}
.tax-box {
  display: flex;
  justify-content: center;
}
.tax-1 span {
  margin-top: 1px;
  color: #524f4ff6;
}
/*restuant price*/
.rest-img img {
  width: 85%;
  border-radius: 10px;
  margin-bottom: 4px;
  object-fit: cover;
  width: 350px;
  height: 300px;
}
.rest-img {
  position: relative;
}
.star img {
  width: 12px;
}
.heart {
  width: 20px;
  position: relative;
  bottom: 388px;
  left: 90%;
}
.rest-cont1 {
  padding: 10px;
  width: fit-content;
}
.fav {
  border: solid #d0d0d0 1px;
  width: 30%;
  padding: 3px;
  color: black;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  position: relative;
  bottom: 369px;
  left: 4%;
}
.rest-tit {
  display: flex;
  gap: 40%;
}
.rest {
  margin-top: 10px;
}
.rest-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/*show more*/
.more-cont {
  font-size: 13px;
  font-weight: 600;
  text-align: center;
}
.more-cont button {
  padding: 8px;
  border-radius: 5px;
  color: white;
  background-color: black;
  border: none;
  margin-top: 6px;
}
.more {
  margin-top: 5px;
}
/* footer*/
.foot {
  margin-top: 5px;
}
.foot-main1 a {
  text-decoration: none;
  color: #524f4ff6;
}
.f-h {
  margin: 15px;
  font-size: 15px;
  font-weight: 500;
}
.foot-main1 {
  display: flex;
  gap: 25px;
  overflow: scroll;
  scrollbar-width: none;
  margin-top: 10px;
  border-bottom: solid #d1cdcd 1px;
  margin: 15px;
  padding-bottom: 10px;
}
.foot-main1 p:hover {
  border-bottom: solid black 1px;
}
.foot-main2 {
  display: flex;
  gap: 50px;
  margin: 15px;
  border-bottom: solid #d1cdcd 1px;
  padding-bottom: 25px;
}
.foot-main2-1 {
  margin-top: 15px;
}
.foot {
  background-color: #f7f7f7;
  padding: 15px;
  margin-top: 15px;
}
.foot-main2 span {
  color: #524f4ff6;
}
.foot-main3 h1 {
  color: black;
}
.foot-main3 p {
  color: #524f4ff6;
}
.foot-main3 {
  margin: 15px;
  margin-top: 25px;
  border-bottom: solid #d1cdcd 1px;
  padding-bottom: 25px;
}
.foot-main3 p {
  margin-top: 15px;
}
.foot-m4-1 img {
  width: 18px;
}
.foot-m4-1 {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.foot-m4 {
  display: flex;
  gap: 60px;
  margin: 15px;
  margin-top: 25px;
  align-items: center;
}
.foot-m4-2 {
  margin: 15px;
}
.foot-m4-2 p {
  margin-top: 5px;
}
.footer-res {
  display: none;
}

/*for resonsive*/

.lap-nav {
  padding: 5px;
  display: none;
}
.lap-cont img {
  width: 150px;
}
.lap-cont2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.lap-cont3-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.lap-cont3-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.lap-cont3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.lap-cont3-1 img {
  width: 22px;
}
.lap-cont3-2 img {
  width: 29px;
}
.lap-cont3-2 {
  border: solid #d1cdcd 1px;
  padding: 9px;
  border-radius: 25px;
}
.lap-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  /*   margin-left: 15px;
    margin-right: 15px;
  */
}
/*search nav*/
.lap-sear-cont4-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid #f0467f 1px;
  border-radius: 40px;
  background-color: #ec4b81;
  padding: 6px;
}
.lap-sear-cont4-2 img {
  width: 25px;
  height: 25px;
}
.lap-sear-cont4 {
  display: flex;
  gap: 40px;
}

.lap-sear-cont {
  display: flex;
  border: solid #f0eaea 1px;
  border-radius: 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  justify-content: center;
  align-items: center;
  width: 65%;
  justify-content: space-around;
  padding: 10px;
}
.lap-sear {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border-bottom: #d0d0d0 solid 1px;
  padding: 20px;
}

.tax-box1-res img {
  width: 14%;
}
.tax-box1-res {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tax-box-res {
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: none;
}
.tax-1res p {
  font-size: 13px;
}
.tax-1res {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*filer*/

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid #d0d0d0 1px;
  border-radius: 10px;
  padding: 10px;
  display: none;
}
.filter-con img {
  width: 30px;
}
.filter-con {
  display: flex;
}
/*footer*/
.f-res {
  display: none;
}
/*a2*/
.a1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
/*tax and filter*/
.fil {
  display: none;
}
.t-res {
  display: none;
}
.fil-box img {
  width: 30px;
}
.fil-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: #d1cdcd solid 1px;
  border-radius: 10px;
  padding: 3px;
}
.fil-box p {
  font-size: 15px;
  font-weight: 400;
}
.t-res-box img {
  width: 30px;
}
.t-res-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: #d1cdcd solid 1px;
  border-radius: 10px;
  padding: 3px;
}
.catogories-con {
  padding: 10px;
}

/*medeai quories*/

/*tablet*/
@media screen and (min-width: 690px) {
  .lap-nav {
    padding: 5px;
    display: block;
  }
  .foot-main3 {
    border: none;
  }
  .navbar {
    display: none;
  }
  .catogories-con {
    gap: 24px;
  }
  .filter {
    display: none;
    width: 80px;
    padding: 5px;
    margin: 5px;
    text-align: center;
  }
  .filter-con img {
    width: 34px;
  }
  .filter-con {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }
  .tax-box1 img {
    width: 40px;
  }
  .tax-box1 {
    padding: 5px;
    width: 50%;
  }
  .foot-res {
    border-bottom: solid #d1cdcd 1px;
  }

  .footer-res {
    display: flex;
    gap: 40px;
  }
  .foot-main3 {
    border: none;
  }
  .foot-res {
    display: flex;
    gap: 70px;
    border: none;
  }
}

/*laptop-small*/
@media screen and (min-width: 1024px) {
  .fil {
    display: flex;
  }
  .t-res {
    display: flex;
  }
  .lap-nav {
    padding: 5px;
    display: block;
  }
  .foot-main3 {
    border: none;
  }
  .a1 {
    display: flex;
  }
  .tax-box1-res {
    display: flex;
    border: solid #d0d0d0 1px;
    border-radius: 10px;
    padding: 5px;
    width: 70%;
    gap: 5px;
    justify-content: center;
    align-items: center;
  }
  .navbar {
    display: none;
  }
  .filter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .filter-con {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }
  .tax-box-res {
    display: flex;
  }
  .tax-box1-res {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
  }

  .tax-box1 {
    display: none;
  }
  .rest-cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: fit-content;
  }

  .rest-img img {
    border-radius: 10px;
    margin-bottom: 4px;
    object-fit: cover;
    width: 315px;
    height: 330px;
  }
  .heart {
    width: 20px;
    position: relative;
    bottom: 430px;
    left: 89%;
  }
  .fav {
    border: solid #d0d0d0 1px;
    width: 35%;
    padding: 2px;
    color: black;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    position: relative;
    bottom: 409px;
    left: 4%;
  }
  .footer-res {
    display: flex;
    gap: 40px;
  }
  .foot-res {
    display: flex;
    gap: 70px;
  }
  .foot-res {
    border-bottom: solid #d1cdcd 1px;
  }
  a1 {
    display: flex;
    gap: 0px;
  }
}

/*laptop-large*/

@media screen and (min-width: 1340px) {
  .lap-nav {
    padding: 5px;
    display: block;
  }
  .navbar {
    display: none;
  }
  .filter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .filter-con {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }
  .tax-box-res {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tax-1res {
    padding: 0px;
    margin: 0px;
  }
  .tax-box1-res {
    display: flex;
    border: solid #d0d0d0 1px;
    border-radius: 10px;
    padding: 5px;
    width: 70%;
    gap: 5px;
    justify-content: center;
    align-items: center;
  }

  .tax-box1 {
    display: none;
  }
  .rest-cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .rest-img img {
    border-radius: 10px;
    margin-bottom: 4px;
    object-fit: cover;
    width: 315px;
    height: 330px;
  }
  .heart {
    width: 20px;
    position: relative;
    bottom: 421px;
    left: 89%;
  }
  .fav {
    border: solid #d0d0d0 1px;
    width: 35%;
    padding: 2px;
    color: black;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    position: relative;
    bottom: 400px;
    left: 4%;
  }
  .footer-res {
    display: flex;
    gap: 40px;
  }
  .foot-main3 {
    border: none;
  }
  .foot-res {
    display: flex;
    gap: 70px;
    border: none;
  }
  .catogories-con {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  .rest {
    display: flex;
    justify-content: center;
  }
  .foot-res {
    border-bottom: solid #d1cdcd 1px;
  }
}

@media screen and (min-width: 2020px) {
  .lap-cont {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .foot-res {
    border-bottom: solid #d1cdcd 1px;
  }
  .foot {
    display: grid;
    justify-content: center;
  }
}

@media screen and (max-width: 575px) {
  .nav-1-sea {
    width: 65%;
    padding: 12px;
  }
  .catogories-con1 img {
    width: 26px;
  }
  .catogories-con {
    gap: 30px;
  }
  .rest-img img {
    border-radius: 10px;
    margin-bottom: 4px;
    object-fit: cover;
    width: 320px;
    height: 340px;
  }
  .heart {
    width: 20px;
    position: relative;
    bottom: 439px;
    left: 89%;
  }
  .fav {
    border: solid #d0d0d0 1px;
    width: 35%;
    padding: 2px;
    color: black;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    position: relative;
    bottom: 414px;
    left: 4%;
  }
}

/*mobile medium*/

@media screen and (max-width: 375px) {
  .nav-1-sea {
    width: 65%;
    padding: 12px;
  }
  .catogories-con1 img {
    width: 26px;
  }
  .catogories-con {
    gap: 30px;
  }
  .rest-img img {
    border-radius: 10px;
    margin-bottom: 4px;
    object-fit: cover;
    width: 320px;
    height: 340px;
  }
  .heart {
    width: 20px;
    position: relative;
    bottom: 439px;
    left: 89%;
  }
  .fav {
    border: solid #d0d0d0 1px;
    width: 35%;
    padding: 2px;
    color: black;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    position: relative;
    bottom: 414px;
    left: 4%;
  }
}

/*mobile small*/

@media screen and (max-width: 320px) {
  .airbnb {
    width: 35px;
  }
  .nav-1-sea {
    width: 65%;
    padding: 10px;
  }
  .catogories-con1 img {
    width: 24px;
  }
  .catogories-con {
    gap: 15px;
  }
  .tax-box1 img {
    width: 30px;
  }
  .tax-box1 {
    padding: 5px;
  }
  .rest-img img {
    border-radius: 10px;
    margin-bottom: 4px;
    object-fit: cover;
    width: 240px;
    height: 240px;
  }
  .heart {
    width: 20px;
    position: relative;
    bottom: 343px;
    left: 89%;
  }
  .fav {
    border: solid #d0d0d0 1px;
    width: 35%;
    padding: 2px;
    color: black;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    position: relative;
    bottom: 319px;
    left: 4%;
  }
}
